@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<OnlineMarket.Models.Order>
@using System.Data;
@{ var data = Model.AsEnumerable(); } 

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn hàng - " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
  
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách đơn hàng - page @ViewBag.CurrentPage</span>
        </nav>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
               <!--<div>
                    <h1 class="m-b-0 text-muted">Tổng đơn</h1>
                    <h2 class="m-b-0">@Model.Count</h2>
                </div>-->
                 <div>
                    <h1 class="m-b-0 text-muted">Tổng đơn hàng: </h1>
                    <span class="badge badge-pill badge-cyan font-size-12">
                         <h2 class="m-b-0">@Model.TotalItemCount đơn hàng</h2> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon-search opacity-04"></i>
                            <input id="id" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm theo ID" />
                        </div>
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm theo tên khách hàng" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtTransactStatusID" name="txtTransactStatusID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn trạng thái</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <strong>
                    
                </strong>
            </div>
        </div>
        <div class="table" id="records_table">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>Ngày mua</th>
                        <!---<th>Tổng tiền </th>-->
                        <th>Trạng thái</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            if (@item.TransactStatus.Status == "Đã giao")
                            {
                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <!--<td> @item.TotalMoney.ToString("#,##0") VNĐ</td>-->

                                    <td style="background-color: darkgreen;color:white;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>

                                </tr>
                            }
                        
                            else if (@item.TransactStatus.Status == "Đang giao")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <!--<td> @item.TotalMoney.ToString("#,##0") VNĐ</td>-->
                                    <td style="text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }
                            else if (@item.TransactStatus.Status == "Đã hủy")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <!--<td> @item.TotalMoney.ToString("#,##0") VNĐ</td>-->
                                    <td style=" background-color: red;color:white;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }else if (@item.TransactStatus.Status == "Chưa giao")
                            {

                                <tr>
                                    <td>@item.OrderId</td>
                                    <td>@item.Customer.FullName</td>
                                    <td>@item.OrderDate</td>
                                    <!--<td> @item.TotalMoney.ToString("#,##0") VNĐ</td>-->
                                    <td style="background-color: orange;color:white;text-align:center;font-weight:bold">@item.TransactStatus.Status</td>

                                    <td>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary btn-tone m-r-5">Xem đơn hàng</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ChangeStatus" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Cập nhật trạng thái</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-secondary btn-tone m-r-5">Chỉnh sửa</a>
                                        <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-danger  btn-tone m-r-5">Xóa đơn hàng</a>
                                    </td>
                                </tr>
                            }

                        }
                    }
                </tbody>           
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index" asp-route-TransID="@ViewBag.CurrentTransactStatusID"></pager>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        jQuery("#txtTransactStatusID").change(function () {
            var transID = jQuery(this).children(":selected").attr("value");
            transID = parseFloat(transID);
            $('#txtTransactStatusID option').removeAttr('selected');
            $("#txtTransactStatusID > [value=" + transID + "]").attr("selected", "true");
            $.ajax({
                url: '/Admin/AdminOrders/Filtter',
                dataType: "json",
                type: "GET",
                data: { TransID: transID },
                async: true,
                success: function (results) {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        $("#id").keyup(function () {
            var strkeyword = $('#id').val();
            $.ajax({
                url: '/Admin/Search/FindOrderID/',
                datatype: "json",
                type: "POST",
                data: { id: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindOrderName/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
    </script>
}

                                