@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<OnlineMarket.Models.Post>
@{
    ViewData["Title"] = "Blog Index - " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = ViewBag.CurrentPage + 1;
    List<OnlineMarket.Models.Product> lsnewproducts = ViewBag.AllNewProducts;

}
@section metatags{
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng .">
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta property="og:site_name" content="Giày đá banh chính hãng" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Tin tức" />
    <meta property="og:image" content="https://c8.alamy.com/comp/2ETMK97/puma-football-boots-store-shop-display-with-images-of-sponsored-footballers-neymar-and-antoine-griezmann-2ETMK97.jpg" />
    <meta property="og:description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng " />
    <meta property="og:url" content="http://tudang-001-site1.atempurl.com/" />
}
<div class="ontainer container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/blogs.html">Tin tức</a></li>

    </ul>

    <div class="row">
        <!--Left Part Start -->
        <aside class="col-sm-4 col-md-3" id="column-left">
            <div class="module latest-product titleLine" itemscope itemtype="https://schema.org/ItemList">
                <h3 class="modtitle">Sản phẩm mới</h3>
                <div class="modcontent ">
                    @await Html.PartialAsync("_ListNewProductsPartialView", lsnewproducts)
            </div>
        </div>
    </aside>
    <!--Left Part End -->
    <!--Middle Part Start-->
    <div id="content" class="col-md-9 col-sm-8" itemscope itemtype="https://schema.org/ItemList">
        <div class="blog-header">
            <h3>Tin tức</h3>
        </div>
        <div class="blog-listitem" itemscope itemtype="http://schema.org/Blog">
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    string url = $"/tin-tuc-{item.Alias}/{@item.PostId}.html";
                    <div class="blog-item ">
                        <div class="itemBlogImg col-md-4 col-sm-12">
                            <div class="article-image banners">
                                <div class="image-popup">
                                    <a  href="/images/news/@item.Thumb">
                                        <img itemprop="image" src="~/images/news/@item.Thumb" alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="itemBlogContent col-md-8 col-sm-12">
                            <div class="article-title">
                                <h4>
                                    <a href="@url" itemprop="name">@item.Title</a>
                                </h4>
                            </div>
                            <div class="article-sub-title">
                                <span class="article-date">
                                    <i class="fa fa-calendar" itemprop="dateCreated"></i>@item.CreateDate.Value.ToShortDateString()
                                </span>
                            </div>
                            <div class="article-description" itemprop="description">
                                @item.Scontents
                            </div>
                            @*				    <div class="blog-meta">
                                    <span class="comment_count">
                                        <a href="#">0 Comments</a>
                                    </span>
                                    <span class="author">
                                        <span>Post by </span>@item.Author
                                    </span>
                                </div>*@
                        </div>
                    </div>
                }
            }
            <ul class="pagination">
                <div class="pagination-area pt-10">
                    <ul class="pagination justify-content-center">
                         <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-action="Index"></pager>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</div>
<!--Middle Part End-->
</div>
@section Scripts{
    <script>
        $(function() {
            $('div.image-popup').magnificPopup({delegate: 'a', type: 'image' });
        })
    </script>
}

